body {
    overflow-x: hidden;
    font-size: 14px!important;
}

/*Simple Sidebar*/
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1rem;
}
#sidebar-wrapper .sidebar-heading span{
    font-weight: 600;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}


/*Accessibility*/
.b-acc-goi,
.b-acc-ministry {
    font-size: 12px;
}
.b-acc-goi {
    border-right: 1px solid #999;
}
#b-accessibility {
    color: #505050;
    height: 44px;
}


/*Header*/
#b-header {
    height: 110px;
    overflow: hidden;
}


/*------------------
Header section
 ---------------------*/

.header-section {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 53px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    height: 100px;
}

.header-section.header-bg-2 {
    background: rgba(34, 34, 34, 0.83);
}

.header-nav {
    text-align: right;
    padding-top: 35px;
}

.site-logo {
    float: left;
    display: inline-block;
    padding: 39px 0;
}

.main-menu {
    display: inline-block;
    padding: 20px 0px;
    width: 100%;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu li a {
    display: block;
    font-size: 16px;
    color: #fff;
    font-family: "Lato", sans-serif;
    padding: 0 1px 5px;
    border-bottom: 2px solid transparent;
    margin-right: 45px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
}

.main-menu li a.nav-link {
    color: #fff!important;
}

.main-menu li:last-child a {
    margin-right: 0px;
}

.main-menu li a:hover,
.main-menu li a.active {
    border-bottom: 2px solid #FB9B00;
    text-decoration: none;
}

.main-menu li:hover>.sub-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 20px;
}

.main-menu .sub-menu {
    position: absolute;
    list-style: none;
    width: 220px;
    left: 0;
    top: 100%;
    text-align: left;
    padding: 20px 0;
    visibility: hidden;
    opacity: 0;
    margin-top: 50px;
    background: #fff;
    z-index: 99;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
}

.main-menu .sub-menu::before {
    position: absolute;
    content: "";
    left: 15px;
    top: -7px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #fff;
}

.main-menu .sub-menu:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    left: 0;
    top: -20px;
}

.main-menu .sub-menu li {
    display: block;
}

.main-menu .sub-menu li a {
    display: block;
    color: #000;
    margin-right: 0;
    padding: 5px 20px;
    border-bottom: none;
}

.main-menu .sub-menu li a:hover {
    color: #1e87f0;
}

.header-right {
    display: inline-block;
}

.header-right a {
    color: #fff;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    display: inline-block;
}

.header-right .register {
    border: 2px solid #fff;
    min-width: 130px;
    text-align: center;
    padding: 8px 15px;
    margin-left: 25px;
}

.slicknav_menu {
    display: none;
}



/*------------------
Global navigation
 ---------------------*/
.dropdown-slide > .dropdown-menu {
  opacity:.3;
  display: block;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.show.dropdown-slide > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity:1;
}

.carousel-indicators li {
    background-color: #000;
}

/*------------------
Honepage Dashboard
 ---------------------*/
.b-dbcard {
    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px #999;
    
}
.b-dbcard:hover {
    box-shadow: 0px 2px 10px 0px #999;
}

/*------------------
Footer logos
 ---------------------*/
.footer-carousal, .footer-carousal .container{
    overflow: hidden;
    white-space: nowrap;
}
.footer-carousal .f-logo {
    width: 20%;
    display:inline-block;
}

@media only screen and (min-width: 992px) {
    .footer-carousal .f-logo.active + .f-logo + .f-logo + .f-logo + .f-logo ~ .f-logo{
        display: none;
    } 
    
}




/*Footer*/


.footer-bs {
    background-color: #018475;
    padding: 20px 20px;
    color: rgba(255,255,255,1.00);
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
    .footer-bs .footer-social { border-right:solid 1px rgba(255,255,255,0.10); }
}


.backtotop {
    width: 50px;
    height: 50px;
    border: 1px;
    border-radius: 50%;
    background-color: #1e87f0;
    cursor: pointer;
}





/*Dashboard Page*/
        .b-leftmenu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .b-leftmenu ul li {
          /* Sub Menu */
        }
        .b-leftmenu ul li a {
            display: block;
            background: #ebebeb;
            padding: 10px 15px;
            color: #333;
            text-decoration: none;
            -webkit-transition: 0.2s linear;
            -moz-transition: 0.2s linear;
            -ms-transition: 0.2s linear;
            -o-transition: 0.2s linear;
            transition: 0.2s linear;
        }
        .b-leftmenu ul li a:hover {
            background: #f8f8f8;
            color: #515151;
        }
        .b-leftmenu ul li a .fa {
            width: 16px;
            text-align: center;
            margin-right: 5px;
            float:right;
        }
        .b-leftmenu ul ul {
            background-color:#ebebeb;
        }
        .b-leftmenu .sub-menu ul li a {
            background: #f8f8f8;
            border-left: 4px solid transparent;
            padding: 10px 25px;
        }
        .b-leftmenu .sub-sub-menu ul li a {
            padding: 10px 20px 10px 40px;
        }
        .b-leftmenu a.b-newpage:hover {
            background: #ebebeb;
            border-left: 4px solid #018475;
        }
/*Breadcrumb*/
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}



/*Dashboard Menu Text*/
.d-menu-link {
    height:70px;
    font-size: 22px;
    padding: 19px 15px!important;
}
.d-menu-link .d-icon {
    padding-top: 5px;
}
.d-menu-link.active {
    background-color: #f2f2f2!important;
}

/*Input*/
.b-bottom-line {
    height: 2px;
    width: 100%;
    background-color: #ced4da;
    display: block;
    transition: background-color 0.5s;
}
input.form-control:focus + .b-bottom-line {
    width: 100%;
    background-color: #FB9B00;
}
input.form-control {
    border: 0px solid #ced4da!important;
}
input.form-control:focus {
    border-color: rgba(0,123,255,0)!important; 
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0)!important; 
    border-bottom: 0px;
}

/*color theme*/

.b-global-nav {
    background-color: #018475!important;
}

.btn.btn-primary {
    background-color: #FB9B00;
    border: none;
    padding: 8px 30px!important;
}
.btn.btn-secondary {
    padding: 8px 30px!important;
}
.modal-title {
    color: #FB9B00!important;
}
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #FB9B00!important;
    border-color: #FB9B00!important;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #FB9B00!important;
    border-color: #FB9B00!important;
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,0)!important;
}

.b-global-nav li ul li:hover a {
    background-color: #018475!important;
    color: #FFF!important;
} 

.d-menu-link {
    background-color: #FAFAFA!important;
    color: #000!important;
}
.d-menu-link.active:hover,
.d-menu-link.active:focus {
    background-color: #017B6A!important;
}
.d-menu-link.active {
    background-color: #018475!important;
    color: #FFF!important;
}